{% extends 'buatberita/layout/base.html' %}

{% block content %}
<div class="product-card">
  <div class="product-details">
    <h1>Berita</h1>
    <a type="button" class="btn" href="{% url 'tambah-berita:new_article' %}"><h5 style="margin-top: 10px">Tambah Berita</h5></a>
  </div>
</div>
{% endblock %}