{% extends 'buatberita/layout/base.html' %}

{% block content %}
<div class="container">  
  <form id="contact" action="{% url 'tambah-berita:news_form' %}" method="post">
  	{% csrf_token %}
    <h3>Tambah Artikel</h3>
    <!-- <fieldset>
      <h4>Judul</h4>
      <input placeholder="Judul" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <h4>Url</h4>
      <input placeholder="Url" type="url" tabindex="2" required>
    </fieldset>
    <fieldset>
      <h4>Topik</h4>
      <input placeholder="Topik" type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <h4>Jumlah Kata</h4>
      <input placeholder="Jumlah Kata" type="number" tabindex="4" required>
    </fieldset>
    <fieldset>
      <h4>Tag</h4>
      <input placeholder="Tag" type="text" tabindex="5" required>
    </fieldset> -->
    {{ news_form }}
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
{% endblock %}