{% load staticfiles %}
{% load static %}
<html>
    <head>
        <title>Polling Berita</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/chosepolling.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/newsform.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleheader.css' %}" />
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            {% include "pollingberita/partials/header.html" %}
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>