$bg-color: #f3f3f3;
$shadow-color: darken( $bg-color, 25%);
$button-color: #337AB7;
$button-shadow-color: darken($button-color, 25%);
$cursive-font: 'Pacifico', cursive;
$font-size: 18px;

*, *:before, *:after {
  box-sizing: border-box;
}

.product-card {
  background-color: #fdfefe;
  max-width: 400px;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 150px;
  box-shadow: 8px 12px 30px $shadow-color;
  color: #919495;
  font-weight: normal;
  text-align: left;
  font-size: $font-size;
  position: relative;
}

.product-details {
  width: 53%;
  float: left;
  height: 100%;
  padding: 30px;
  
}

.product-details h1 {
    color: #333;
    font-family: 'Pacifico', cursive;
 }

.product-details a{
    width: 335px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #337AB7;
    border-radius: 0;
    color: #fff;
    box-shadow: 2px 2px 7px $button-shadow-color;
    &:hover, &:active, &:focus {
      color: #fff;
    }
  }



@media (max-width: 700px) {
  .product-card {
    margin-left: 20px;
    margin-right: 20px;
  }
  
}

@media (max-width: 540px) {
  .product-card {
    overflow: hidden;
    margin-bottom: 50px;
  }
  .product-details {
    width: 60%;
    z-index: 1;
  }
}

@media (max-width: 440px) {
    .product-details {
      width: 65%;
  }
}

@media (max-width: 365px) {
    .product-details {
      width: 80%;
      position: relative;
      color: #333;
      background-color: rgba(255, 255, 255, 0.7);
  }
}