{% extends 'pollingberita/layout/base.html' %}

{% block content %}
<div class="product-card">
  <div class="product-details">
    <h1>Polling</h1>
    <a type="button" class="btn" href="{% url 'buat-polling:polling-berita' %}"><h5 style="margin-top: 10px">Tambah Polling Berita</h5></a>
    <a type="button" class="btn" href="{% url 'polling-umum:gen-poll' %}"><h5 style="margin-top: 10px">Tambah Polling Biasa</h5></a>
  </div>
</div>
{% endblock %}