{% extends 'pollingberita/layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class="container">  
  <form id="contact" action="" method="post">
  	{% csrf_token %}
    <h3>Polling Form</h3>
    <fieldset>
      <h4>Url</h4>
      <input class="form-control" type="url" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <h4>Waktu Mulai</h4>
      <input class="form-control" type="datetime-local" tabindex="2" required>
    </fieldset>
    <fieldset>
      <h4>Waktu Selesai</h4>
      <input class="form-control" type="datetime-local" tabindex="3" required>
    </fieldset>
    <fieldset>
      <h4>Pertanyaan Seputar Polling</h4>
      <input class="form-control" type="text" tabindex="4" required>
    </fieldset>
    <fieldset>
      <h4>Pertanyaan Seputar Polling</h4>
      <input class="form-control" type="text" tabindex="5" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
{% endblock %}