<nav class="navbar navbar-default navbar-fixed-top">
	<div id='cssmenu'>
		<ul>
		   <li class='active'><a href='#'>Home</a></li>
		   <li><a href="{% url 'tambah-berita:post_new' %}" >Tambah Berita</a></li>
		   <li><a href="{% url 'buat-polling:add-polling' %}" >Tambah Polling</a></li>
		</ul>
	</div>
</nav>