{% extends 'pollingumum/layout/base.html' %}

{% block content %}
<div class="container">  
  <form id="contact" action="" method="post">
  	{% csrf_token %}
    <h3>Polling Form</h3>
    <fieldset>
      <h4>Deskripsi</h4>
      <textarea class="form-control" type="text" tabindex="1" name="desc" required autofocus></textarea>
    </fieldset>
    <fieldset>
      <h4>Waktu Mulai</h4>
      <input class="form-control" type="datetime-local" tabindex="2" name="start" required>
    </fieldset>
    <fieldset>
      <h4>Waktu Selesai</h4>
      <input class="form-control" type="datetime-local" tabindex="3" name="finish" required>
    </fieldset>
    <fieldset>
      <h4>Pertanyaan Seputar Polling</h4>
      <input class="form-control" type="text" tabindex="4" name ="question1" required>
    </fieldset>
    <fieldset>
      <h4>Pertanyaan Seputar Polling</h4>
      <input class="form-control" type="text" tabindex="5" name ="question2" required>
    </fieldset>
    <!-- {{ general_form }} -->
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
{% endblock %}