{% load staticfiles %}
<html>
    <head>
        <title>Tambah Berita</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/create_form.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/addnews.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/headstyle.css' %}" />
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            {% include "buatberita/partials/header.html" %}
        </header>
            {% block content %}
            {% endblock %}
    </body>
</html>